* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-img {
  background: url(/bg.png.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.bg-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 370px;
  height: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.03);
  padding: 60px 32px;
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}
.content header {
  color: white;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 35px;
  font-family: Arial, Helvetica, sans-serif;
}
.field {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.94);
}
.field span {
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input {
  height: 100%;
  width: 100%;
  color: #222;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: sans-serif;
}
.space {
  margin-top: 16px;
}
.pass {
  text-align: left;
  margin: 12px 0px;
}
.pass a {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}
.pass:hover a {
  text-decoration: underline;
}
input[type="Submit"] {
  background: #3498db;
  border: 1px solid #2691d9;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}
input[type="Submit"]:hover {
  background: #2691d9;
}
.signup {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 25px;
}
.signup a {
  color: #3498db;
  text-decoration: none;
}
.signup a:hover {
  text-decoration: underline;
}
